<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Readify.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Readify.Services.Properties.Settings>
      <setting name="Token" serializeAs="String">
        <value>ccb6ba87-ebf5-49c9-b483-b42ce8fd8c21</value>
      </setting>
    </Readify.Services.Properties.Settings>
  </applicationSettings>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RedPillBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_RedPill">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Readify.Services.RedPillServiceImplementation" behaviorConfiguration="RedPillBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="IRedPill" bindingConfiguration="BasicHttpBinding_RedPill"/>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation  debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>