<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Readify.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Readify.Services.Properties.Settings>
      <setting name="Token" serializeAs="String">
        <value>ccb6ba87-ebf5-49c9-b483-b42ce8fd8c21</value>
      </setting>
    </Readify.Services.Properties.Settings>
  </applicationSettings>
  <startup/>
</configuration>
