<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRedPill" />
        <binding name="BasicHttpsBinding_IRedPill">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRedPill1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
          contract="ReadifyService.IRedPill" name="BasicHttpBinding_IRedPill" />
      <endpoint address="https://knockknock.readify.net/RedPill.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
          contract="ReadifyService.IRedPill" name="BasicHttpsBinding_IRedPill" />
      <endpoint address="http://www.dewalddebod.co.za/RedPill.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill1"
          contract="RedPillService.IRedPill" name="BasicHttpBinding_IRedPill1" />
    </client>
  </system.serviceModel>
</configuration>